.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: .5px solid #2a2a2a;
    background-color: #03131d;
    color: #666;
    width: 25rem;
    height: fit-content;
    padding: 0 1rem 2rem 1rem;
    border-radius: 10px;
  }
  
  .card img {
    /* margin-top: -20%; */
    width: 100%;
    border-radius: 20px;
    margin-top: 5%;
    height: 80%;
  }
  
  .card h2 {
    margin: 0;
    margin-top: 1rem;
  }
  
  .card p {
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
    text-align: center;
  }
  
  .card .btnn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

@media screen and (max-width: 576px) {
  .card {
    width: 12rem;
  }

  .card h2 {
    font-size: 1rem;
  }

  .card p {
    font-size: 12px;
  }
}


.btn {
  background: transparent;
    color: #a08304;
    border: .5px solid #a08304;;
    outline: none;
    text-align: right;
    font-size: 1rem;
    border-radius: 10px;
    padding: .5rem 1rem;
    /* margin: 0 0.5rem ; */
    width: auto;
    cursor: pointer;
    transition: .5s ease;
  }

  .btn:hover {
    transform: scale(1.01);
  }

  .modalBtn {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 12px 24px;
  }

  
  @media screen and (max-width: 576px) {
    .btn {
      width: 12rem;
      padding: .3rem;
      font-size: .8rem;
    }
  }

  .cardContent p {
    font-size: 15px;
    color: #666;
    padding: 0 2rem;    

}

.text {
    --max-lines: 3;
    --line-height: 1.4;

    max-height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);
    
    overflow: hidden;
    position: relative;
}

.text:has(+ .expandBtn:not(:checked))::before {
    content: "";
    position: absolute;
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none
}

.expandBtn {
    appearance: none;
    border: none;
    cursor: pointer;
    color: #eedd44;
    font-size: 17px;
    text-align: center; 
    background: none;
    padding: 5px;
}

.expandBtn::before {
    content: "See More"; 
}

.expandBtn:checked::before {
    content: "See Less";
}

.text:has(+ .expandBtn:checked) {
    max-height: none;  
}

.card p a {
    color:#eedd44;
    font-size: 18px;
    cursor: pointer;
}

a:hover {
    color: rgba(238, 221, 68, 0.8);
}